@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

.school-word-wrapper.blockquote-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.95;
  padding: 20px;
  background: #212121; /* Moved from body background */
  font-family: "Montserrat", sans-serif; /* Moved from body */
}

.school-word-wrapper .classy-bq {
  border-left: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.7em 25px;
  quotes: "\201C""\201D""\2018""\2019";
  color: white;
  position: relative;
}

.school-word-wrapper .classy-bq:before {
  color: white;
  content: open-quote;
  font-size: 8em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  opacity: 0.6;
}

.school-word-wrapper blockquote p {
  display: inline;
  font-size: 1.5rem;
  line-height: 1.5;
}

.school-word-wrapper.blockquote-section > cite {
  font-style: none;
}

.school-word-wrapper .cite {
  color: white;
  padding-left: 20px;
  font-size: 1.25rem;
}
